---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BuscadorMedicamentos from '../components/medicamentos/BuscadorMedicamentos';
---

<Layout
  title="Buscador de Medicamentos - FarmaTurno Chile"
  description="Busca medicamentos en nuestro catálogo y consulta sus fichas técnicas detalladas."
>
  <Header />

  <main class="grow container mx-auto px-4 py-8 md:py-12">
    <BuscadorMedicamentos client:load />
  </main>

  <Footer />
</Layout>
